*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
}


:root {
    --main-color: #1CE3D9;
    --secondary-color: #E31C26;
}

@font-face{
    font-family: "space";
    src: url("./assets/SpaceGrotesk-VariableFont_wght.ttf");
}

.bg-color {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.selling-point h2 {
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
}

.selling-point h3 {
    font-size: 1.25rem;
    line-height: 125%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav svg {
    cursor: pointer;
    z-index: 10;
}

.links {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
    transform: translateX(100%);
    opacity: .9;
}

.links a {
    color: black;
    font-size: 2rem;
    text-decoration: none;
    text-decoration: underline;
}


.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-family: "space", sans-serif;
}

.logo img {
    width: 1.5rem;
}

.front-page {
    min-height: 75vh;   
    color: white;
}

.mid-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
    font-family: "space", "sans-serif";  
}

.mid-section a {
    border-style: solid;
    color: white;
    padding: 1rem;
    border-bottom: black;
    border-left: black;
    border-right: black;  
    text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
    animation: pulse 1s infinite;
    transition: 1s;
}


.mid-section a:hover {
    opacity: 1;
    color: white;
    animation: pulse 1s infinite;
    transition: .5s;
}

.image-container {
    width: 100%; 
    height: 70vh; 
    overflow: hidden;
    margin-top: 100px;
}

.hover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}



.selling-point {
    margin-top: 25vh;
    font-family: "space", sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 3);
    text-align: center;
}

.selling-point h3 {
    font-family: sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 3);
}

.ctas {
    margin-top: 2rem;
}

.ctas button {
    padding: 1rem;
    font-size: 1rem; 
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.216);
    margin: 1rem;
}

.cta-first {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.cta-first:hover {
    box-shadow: 0px 4px 24px rgba(210, 9, 69, 0.5);
}


.cta-sec {
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}

.cta-sec:hover {
    box-shadow: 0px 4px 24px rgba(9, 160, 210, 0.5);
}

.pcbh-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hidden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    background-color: white;
    padding: 60px;
    opacity: 0;
    gap: 15px;
    filter: blur(5px);
    transition: ease-in-out .75s;
    
}

.hidden h3 {
    font-family: "space", sans-serif;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: 1.5px;
}

.hidden img {
    width: 40vh;
    height: 25vh;

}

.hidden img:hover {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.5);
}

 .show {
    opacity: 1;
    filter: blur(0);
 }

.images h3 {
    position: absolute;
    color: var(--main-color);
    text-shadow: rgba(0, 0, 0, 0.49);
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 2rem;
}

.about {
    color: var(--secondary-color);
}

.about h2 {
    font-family: "space", sans-serif;
    text-align: center;
}

.about p {
    line-height: 150%;
    font-size: 1.2rem;
}

.about img {
    width: 100%;
    margin-top: 2rem;
}

.footer {
    display: flex;
    margin-top: 90px;
    margin-bottom: 50px;
    width: 100%;
    padding: 100px 15%;
    background-color: black;
    color: white;
    font-family: "space", "sans-serif";
}

.footer div {
    text-align: center;
}

.foot-col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}



.foot-col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;

}

form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

form button:hover {
    box-shadow: 0px 4px 24px rgba(223, 221, 221, 0.216);
}

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

.social-icons i:hover {
    box-shadow: 0px 4px 24px rgba(223, 221, 221, 1);
}


@media only screen and (min-width: 900px) {

    #navbar {
        display: flex;
        justify-content: space-evenly;
        background-color: black; 
        position: fixed; 
        top: -50px; 
        width: 100%; 
        transition: top 0.5s; 
        z-index: 1;
        box-shadow: 0px 4px 24px rgba(201, 188, 188, 0.216);
        letter-spacing: .5px;
      }

      #navbar h2 {
        font-weight: 300;
      }
      

      #navbar {
        background-color: black; 
        position: fixed; 
        top: 0; 
        width: 100%; 
        transition: top 0.3s; 
      }
      
     
      #navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        transition: 1s;
        letter-spacing: 2.5px;
      }
      
      #navbar a:hover {
        background-color: #ddd;
        color: black;
        transition: .8s;
      }

      #logo {
        display: flex;
        align-items: center;   
    }
    
    #logoh1 {
        margin-left: 0.5rem;
        font-size: 1rem;
        font-family: "space", sans-serif;   
    }

    section {
        padding: 0%;
    }
    
    #logo img {
        width: 1.5rem;
        margin-right: 15px;
    }

      nav {
        display: none;
      }     
}

@media only screen and (max-width: 900px) {
    #navbar {
        display: none;
    }

    #navbar a:hover {
        display: none;
      }

      body {
        margin: 0;
        background-color: black;
      }

      .image-container {
        display: none;
      }

      .hidden {
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        align-content: center;
        margin-top: 500px;
        color: black;
    }

    .hidden h3 {
        font-family: "space", sans-serif;
        text-align: center;
        font-weight: 300;
        margin-top: 10px;
        letter-spacing: 1.5px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    form button {
        margin-bottom: 20px;
    }
    
}

@media only screen and (max-width: 1155px) {
    .mid-section {
        display: none;
    }
}


